@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Employee @Model.Name @Model.Surname (id: @Model.Id)</h2>
<ul>
    <li><b>@Html.DisplayNameFor(model => model.Pesel):</b> @Model.Pesel</li>
    <li><b>@Html.DisplayNameFor(model => model.Position):</b> @Model.Position.GetDisplayName()</li>
    <li><b>@Html.DisplayNameFor(model => model.Department):</b> @Model.Department.GetDisplayName()</li>
    <li><b>@Html.DisplayNameFor(model => model.EmploymentDate):</b> @Model.EmploymentDate</li>
    <li><b>@Html.DisplayNameFor(model => model.SackingDate):</b> @Model.SackingDate</li>
</ul>
<a asp-action="Index" class="btn btn-primary">Go back to list</a>
